# .gitignore - A list of files for Git to ignore

# Local development secrets
.dev.vars
.env

# Node.js dependencies
node_modules

# Wrangler state
.wrangler

# Tailwind CSS build files
frontend/dist/output.css
